{% extends 'base1.html.twig' %}

{% block title %}Liste des postulations
{% endblock %}

{% block body %}
	<section id="pricing" class="pricing">

		<div class="container aos-init aos-animate" data-aos="fade-up">

			<header class="section-header">
				<h2>postulation</h2>
				<div>
					{{ form_start(form, {'action': path('possearch')}) }}
					<div class="d-flex">
						{{ form_row(form.creator, { 'attr': {'class': 'form-control me-2'} }) }}
						<button type="submit" class="btn btn-primary">
							<i class="bi bi-search"></i>
						</button>
					</div>
					{{ form_end(form) }}
				</div>

				<p>Liste des postulations</p>
			</header<divclass="row">
			{% if postulations is empty %}
				<p style="color:red; mt:700;">
					404 NOTHIG FOUND</p>
			{% endif %}
			{% if postulations|length %}
				{% for   postulation in postulations %}
					<div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
						<a href="">
							<div class="box">
								<h3 style="color: #ff0071; font-size: 24px;">{{ postulation.getCreator().getName() }}</h3>
								<div class="price">
									<sup class="bi bi-clock"></sup>
									<small style="font-size: 14px;">{{postulation.getDatePos()|date('Y-m-d') }}</small>
									<span>
										/ Postulation Date</span>
								</div>
								<img src="{{('asset1/img/pricing-ultimate.png')}}" class="img-fluid" alt="">
								<ul>
									<li>{{postulation.email}}</li>
								</ul>
								<ul>
									<li>{{postulation.getAdresse()}}</li>
								</ul>
								<a href="" class="btn-buy" style="background-color: green; color: white;">Accept</a>
								<a href="" class="btn-buy" style="background-color: red; color: white;">Refuse</a>
							</div>
						</a>
					</div>
					{% if loop.index is divisible by 4 %}
					</div>
					<div class="row">
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>

	</div>
</div></section>{# knp_pagination_render(postulations) #}{% endblock %}
