{% extends 'base.html.twig' %}

{% block title %}Postulations{% endblock %}

{% block body %}
    <h5 class="card-title text-dark">liste des postulations
    </h5>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <div class="row" style="margin-left: 300px;margin-right: 50px;margin-top: 100px;">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-dark">The Event List
                    </h5>
                    <!-- Table with stripped rows -->
                    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns" style="">
                        <div class="dataTable-top">
                            <div style="margin-left: 1150px;margin-top: 10px;margin-bottom: 10px;" class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text"></div>
                        </div>
                        <a href="{{ path('total_Postulations1') }}">back to list</a>

                        <div class="dataTable-container">
                            <table class="table datatable dataTable-table">
                                <thead>
                                <tr>
                                    <th>IdPos</th>
                                    <th>Email</th>
                                    <th>date</th>
                                    <th>edit </th>
                                </tr>
                                </thead>
                                {% for pos in p %}

        <tbody>
            <tr>

                <td>{{pos.idPos }}</td>

                <td>{{pos.email }}</td>

                <td>{{ pos.getDatePos()|date('Y-m-d') }}</td>

<td><a href="{{ path('postulation_update', {'idPos': pos.idPos}) }}">Edit</a></td>
    
    
</tr>
            {% endfor %}
        </tbody>


                            </table>
                        </div>
                    </div>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>


    
{% endblock %}