{% block body %}
	<h1>Add Event</h1>
	{{ form_start(form) }}
	{{ form_row(form.title) }}
	{{ form_row(form.description) }}
	{{ form_row(form.date) }}
	{{ form_row(form.location) }}
	<button type="submit" class="btn btn-primary">Save</button>
	{{ form_end(form) }}
{% endblock %}
