{% extends 'base1.html.twig' %}
{% block header %}
	<header id="header" class="header fixed-top">
		<div class="container-fluid container-xl d-flex align-items-center justify-content-between">
			<a href="index.html" class="logo d-flex align-items-center">
				<img src="{{ asset('asset1/img/logo.png') }}" alt="">
				<span>Job4U</span>
			</a>

			<nav id="navbar" class="navbar">

				<ul>
					<li class="nav-item dropdown">
						{% if app.user != null %}

							<a class="nav-link nav-icon show" href="#" data-bs-toggle="dropdown" aria-expanded="true">
								<i class="bi bi-bell"></i>
								<span class="badge bg-primary badge-number">{{ notifications|length }}</span>
							</a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications show" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(-25px, 35px);" data-popper-placement="bottom-end">
								<li class="dropdown-header">
									{% if notifications|length > 0 %}
										You have
										{{ notifications|length }}
										new notification{{ notifications|length > 1 ? 's' : '' }}
									{% else %}
										No new notifications
									{% endif %}
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								{% for notification in notifications %}
									<li class="notification-item" style="margin-left: 10px;">
										{% if notification.status == 'pennding' %}
											<i class="bi bi-exclamation-circle text-warning"></i>
											<a href="{{ path('notification_show', {'eventId': notification.getEvent().getId(), 'notificationId':notification.id}) }}">
												<span class="badge rounded-pill bg-primary p-2 ms-2">View</span>
											</a>
										{% elseif notification.status == 'banned' %}
											<i class="bi bi-x-circle text-danger">
												<a href="{{ path('notification_show', {'eventId': notification.getEvent().getId(), 'notificationId':notification.id}) }}">
													<span class="badge rounded-pill bg-primary p-2 ms-2">View</span>
												</a>
											</i>
										{% elseif notification.status == 'accepted' %}
											<i class="bi bi-check-circle text-success">
												<a href="{{ path('notification_show', {'eventId': notification.getEvent().getId(), 'notificationId':notification.id}) }}">
													<span class="badge rounded-pill bg-primary p-2 ms-2">View</span>
												</a>
											</i>

										{% else %}
											<i class="bi bi-info-circle text-primary"></i>
											<a href="{{ path('notification_show', {'eventId': notification.getEvent().getId(), 'notificationId':notification.id}) }}">
												<span class="badge rounded-pill bg-primary p-2 ms-2">View</span>
											</a>
										{% endif %}
										<div>
											<p>{{ notification.message }}</p>
											<p>{{ notification.createdAt|date('d M Y, H:i') }}</p>
										</div>

									</li>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
							{% endfor %}
						</li>
					</li>
					<li class="dropdown-footer">
						<a href="">Show all notifications</a>
					</li>
				</ul>
			{% endif %}
		</li>
		<li>
			<a class="nav-link scrollto active" href="{{ path('total_participants') }}">Dashboard</a>
		</li>
		<li>
			<a class="nav-link scrollto active" href="{{ path('app_event')}}">Home</a>
		</li>
		<li>
			<a class="nav-link scrollto" href="{{ path('event_list')}}">Events</a>
		</li>
		<li>
			<a class="nav-link scrollto active" href="/useroffre">Offre</a>
		</li>
				<li>
								<a class="nav-link scrollto active" href="/project">Projects</a>
							</li>
							<li>
								<a class="nav-link scrollto active" href="/poste/forum">Posts</a>
							</li>
							{% if app.user != null %}

								<li class="dropdown">
									<a href="#">
										<span>Offre Management</span>
										<i class="bi bi-chevron-down"></i>
									</a>
									<ul>
										<li><a href="{{path('mesoffers')}}">My offres</a></li>
										<li><a href="{{path('addOffre')}}">Add New offre</a></li>
										<li><a href="{{path('addProject')}}">Add New projects</a></li>
										<li><a href="{{path('display')}}">Postulation</a></li>
									</ul>
								</li>
							{% endif %}
		{% if app.user != null %}
			<li class="dropdown">
				<a href="#">
					<span>Event Management</span>
					<i class="bi bi-chevron-down"></i>
				</a>
				<ul>
					<li><a href="{{path('my_participations')}}">My participations</a></li>
					<li><a href="{{path('my_events')}}">My event</a></li>
					<li><a href="{{path('event_add')}}">Add New Event</a></li>
					<li><a href="{{path('app_poste_new')}}">Add New Poste</a></li>
				</ul>
			</li>
		{% endif %}
		{% if app.user == null %}
			<li>
				<a class="nav-link scrollto active" href="/login">Login</a>
			</li>
		{% else %}
			<li>
				<a class="nav-link scrollto" href="{{path('display_sessionClient')}}">View Profile</a>
			</li>
			<li>
				<a class="getstarted scrollto" href="{{path('app_logout')}}">Logout</a>
			</li>
		{% endif %}
	</ul>
	<i class="bi bi-list mobile-nav-toggle"></i>
</nav>
<!-- .navbar --></div></header><!-- End Header -->{% endblock %}{% block title %}{{ event.title }}{% endblock %}{% block body %}<section id="blog" class="blog"><div class="container aos-init aos-animate" data-aos="fade-up">{% for message in app.flashes('success') %}<div class="alert alert-success alert-dismissible fade show" style="display: flex;align-items: center;justify-content: center;margin-top: 10px; padding: 5px;" role=" alert"><i class="bi bi-check-circle me-1"></i>{{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>{% endfor %}{% for message in app.flashes('warning') %}<div class="alert alert-warning alert-dismissible fade show" style="justify-content: center;margin-top: 10px;" role="alert"><i class="bi bi-exclamation-triangle me-1"></i>{{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>{% endfor %}<div class="row"><div class="col-lg-4"><div class="sidebar"><h3 class="sidebar-title">Search</h3><div class="sidebar-item search-form">
{% block search_form %}
	{% include 'event/search_form.html.twig' %}
{% endblock %}</div><!-- End sidebar search formn--><h3 class="sidebar-title">Categories</h3><div class="sidebar-item categories">
<ul>
	{% for category in eventCategories %}
		<li>
			<a href="{{ path('event_category', {'id': category.id}) }}">
				{{ category.name }}
				<span>({{ category.eventCount }})</span>
			</a>
		</li>
	{% endfor %}
</ul></div><!-- End sidebar categories--><h3 class="sidebar-title">Recent Posts</h3><div class="sidebar-item recent-posts">
{% for e in events|slice(0,3)  %}


	<div class="post-item clearfix">
		{% if e.img %}
			<img src="{{ asset('images/events/' ~ e.img) }}">
		{% else %}
			<img src="{{ asset('asset1/img/blog/blog-2.jpg') }}">
		{% endif %}
		<h4>
			<a href="{{ path('event_show', {'id': e.id}) }}">{{e.title}}</a>
		</h4>
		<time datetime="2020-01-01">{{ e.date|date('d-m-Y') }}</time>
	</div>
{% endfor %}</div><!-- End sidebar recent posts--><h3 class="sidebar-title">Tags</h3><div class="sidebar-item tags">
<ul>
	<li><a href="#">App</a></li>
	<li><a href="#">IT</a></li>
	<li><a href="#">Business</a></li>
	<li><a href="#">Mac</a></li>
	<li><a href="#">Design</a></li>
	<li><a href="#">Office</a></li>
	<li><a href="#">Creative</a></li>
	<li><a href="#">Studio</a></li>
	<li><a href="#">Smart</a></li>
	<li><a href="#">Tips</a></li>
	<li><a href="#">Marketing</a></li>
</ul></div><!-- End sidebar tags--></div><!-- End sidebar --></div><!-- End blog sidebar --><div class="col-lg-8 entries"><a class="btn btn-secondary" style=" margin-top: 10px;margin-bottom: 10px;" href="{{ path('app_event') }}">Back To Events</a><article class="entry entry-single"><div class="entry-img">
{% if event.img %}
	<img src="{{ asset('images/events/' ~ event.img) }}" class="img-fluid">>
{% else %}
	<img src="{{ asset('asset1/img/blog/blog-2.jpg') }}" class="img-fluid">>
{% endif %}</div><h2 class="entry-title">
<a href="{{ path('event_show', {'id': event.id}) }}">{{event.title}}</a></h2><div class="entry-meta">
<ul>
	<li class="d-flex align-items-center">
		<i class="bi bi-person"></i>
		<a href="/afficherUserBySession">{{event.getCreator().getName()}}{{" "}}</a>
	</li>
	<li class="d-flex align-items-center">
		<i class="bi bi-clock"></i>
		<a href="{{ path('event_show', {'id': event.id}) }}">
			<time datetime="2020-01-01">{{ event.date|date('d-m-Y H:i:s') }}</time>
		</a>
	</li>
	<li class="d-flex align-items-center">
		<i class="bi bi-geo-alt"></i>
		<a href="{{ path('event_show', {'id': event.id}) }}">{{ event.location }}</a>
	</li>
</ul></div><div class="entry-content">
<p>
	{{event.description}}
</p>
<p>
	<img src="{{('asset1/img/blog/blog-inside-post.jpg')}}" alt="">
</p></div><div class="entry-footer">

<i class="bi bi-folder"></i>
<ul class="cats">
	<li>
		<a href="{{ path('event_category', {'id': event.getEventCategory().getId()}) }}">{{ event.getEventCategory().getName() }}</a>
	</li>
</ul>

<i class="bi bi-tags"></i>
<ul class="tags">
	<li>
		<a href="#">Creative</a>
	</li>
	<li>
		<a href="#">Tips</a>
	</li>
	<li>
		<a href="#">Marketing</a>
	</li>
</ul>
{% if (not app.user) or (event.getCreator().getId() != app.user.id) %}
<a href="{{ path('participant_add', {'eventId': event.id}) }}">
	<button type="submit" class="btn btn-primary" style="margin-left: 700px;">Participate</button>
</a>
{% endif %}

</div></article><!-- End blog entry --><div class="blog-author d-flex align-items-center"><img src="{{('asset1/img/blog/blog-author.jpg')}}" class="rounded-circle float-left" alt=""><div>
<h4>{{event.getCreator().getName()}}{{" "}}</h4>
<div class="social-links">
	<a href="https://twitters.com/#">
		<i class="bi bi-twitter"></i>
	</a>
	<a href="https://facebook.com/#">
		<i class="bi bi-facebook"></i>
	</a>
	<a href="https://instagram.com/#">
		<i class="biu bi-instagram"></i>
	</a>
</div>
<p>
	Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
</p></div></div><!-- End blog author bio --><div class="card"><div class="card-body">
<h5 class="card-title">Table with stripped rows</h5>
<!-- Table with stripped rows -->
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">First Name</th>
		</tr>
	</thead>
	{% if event.participants|length > 0 %}
		{% set i=1 %}
		{% for participant in event.participants %}
			{% if participant.status =='accepted' %}
				<tbody>
					{% set i=i+1 %}
					<tr>
						<th scope="row">{{i}}</th>
						<td>{{participant.getUser().getName()}}</td>
					</tr>
				</tbody>
			{% endif %}
		{% endfor %}
	{% else %}
		<tbody>
			<tr>
				<th scope="row">{{1}}</th>
				<td>No Participants Yet Be the First To Participate!</td>
				<td></td>
			</tr>
		</tbody>
	</table>

{% endif %}
<!-- End Table with stripped rows --></div></div><!-- End blog comments --></div><!-- End blog entries list --></div></div></section>{% endblock %}{% block footer %}{% endblock %}
