{% extends 'base.html.twig' %}



{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<table border='1'>
<thead>
<th>adresse </th>
<th> email</th> 
<th>tel </th>
<th>domaine </th>
<th>sosImage </th>
</thead>
</thead>
<tbody>
   
    {%for sos in s %}

<tr>
<td >{{sos.adresse}}</td>
<td >{{sos.email}}</td>
<td >{{sos.tel}}</td>
<td >{{sos.domaine}}</td>
<td >{{sos.sosImage}}</td>

<td>
<a href= "{{path('societe_update' ,{'id':sos.id})}}">Update </a>
</td>
<td>
<a href= "{{path('remove_sos' ,{'id':sos.id})}}">Remove </a>
</td>
</tr>
{%endfor%}
</tbody>
</table>
</div>
{% endblock %}