{{form_start(form,{'attr':{'class':'form-horizontal',novalidate:'novalidate'}})}}
<table class="table">
                
                  <tr>
                    <td>{{form_label(form.message,"Message")}}</td>
<td>{{form_widget(form.message,{ 'attr': {'class': 'form-control my-2'} })}}</td>                   
                    <td>{{form_errors(form.message)}}</td>
                  </tr>

                     
                                    <tr>
                    <td>{{form_label(form.type,"type")}}</td>
<td>{{form_widget(form.type,{ 'attr': {'class': 'form-control my-2'} })}}</td>                   
                    <td>{{form_errors(form.type)}}</td>
                  </tr>
                                    <tr>
                    <td>{{form_label(form.idUser,"idUser")}}</td>
<td>{{form_widget(form.idUser,{ 'attr': {'class': 'form-control my-2'} })}}</td>                   
                    <td>{{form_errors(form.idUser)}}</td>
                  </tr>
             
                
              </table>
    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
