{% extends 'base.html.twig' %}

{% block title %}Poste{% endblock %}

{% block body %}
   
	<div class="row" style="margin-left: 300px;margin-right: 50px;margin-top: 100px;">

		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-dark">The Event List
					</h5>
					<!-- Table with stripped rows -->
					<div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns" style="">
						<div class="dataTable-top">
							<div style="margin-left: 1150px;margin-top: 10px;margin-bottom: 10px;" class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text"></div>
						</div>
						<div class="dataTable-container">
							<table class="table datatable dataTable-table">
								<thead>
									<tr>
										<th scope="col" data-sortable="" style="width: 5%;" class="asc">
											<a href="#" class="dataTable-sorter">#</a>
										</th>
										<th scope="col" data-sortable="" style="width: 15.7199%;">
											<a href="#" class="dataTable-sorter">User</a>
										</th>
										<th scope="col" data-sortable="" style="width: 15.7199%;">
											<a href="#" class="dataTable-sorter">Titre</a>
										</th>
										<th scope="col" data-sortable="" style="width: 10.30311%;">
											<a href="#" class="dataTable-sorter">Domaine</a>
										</th>
                    <th scope="col" data-sortable="" style="width: 10.30311%;">
											<a href="#" class="dataTable-sorter">Image</a>
										</th>
										<th scope="col" data-sortable="" style="width: 30.2828%;">
											<a href="#" class="dataTable-sorter">Description</a>
										</th>
										<th scope="col" data-sortable="" style="width: 20.2828%;">
											<a href="#" class="dataTable-sorter">Date</a>
										</th>
                    <th scope="col" data-sortable="" style="width: 20.2828%;">
											<a href="#" class="dataTable-sorter">Likes</a>
										</th>
                    <th scope="col" data-sortable="" style="width: 20.2828%;">
											<a href="#" class="dataTable-sorter">Reports</a>
										</th>
										<th scope="col" data-sortable="" style="width: 15.2828%;">
											<a href="#" class="dataTable-sorter">Actions
											</a>
										</th>
									</tr>
								</thead>
								<tbody>
									{% set i=0 %}
									{% for poste in postes %}
										{% set i=i+1 %}
										<tr>
											<th scope="row">{{i}}</th>
											<td>{{ poste.getIdUser().getName() }}{{" "}}</td>
											<td>{{ poste.titre }}</td>
											<td>{{ poste.domaine }}</td>
                      <td><img src="{{asset(poste.img)}}" width="150" height="auto"></td>
											<td>{{ poste.description }}</td>
											<td>{{ poste.Date}}</td>
                      <td>{{ poste.likes|length }}</td>
                      <td>{{ poste.reports|length }}</td>
											<td><a  href="{{ path('poste_deleteB', {'id': poste.id}) }}">Supprimer</a></td>
										</tr>
									{% endfor %}
								</tbody>
							</tbody>
						</table>
					</div>
				</div>
				<!-- End Table with stripped rows -->

			</div>
		</div>

	</div>
</div>

{% endblock %}
