{% extends 'base.html.twig' %}

{% block body %}
	<a class="btn btn-secondary" style=" margin-top: 100px;margin-bottom: 10px;margin-left: 500px;" href="{{ path('app_event_category') }}">Back To Category List</a>
	<div style="display: flex;align-items: center;justify-content: center;margin-top: 10px; padding: 5px;">

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Change current Event</h5>

				<!-- General Form Elements -->
				{{ form_start(form) }}
				<div class="row mb-3">
					<label for="inputText" style="width: 80%;" class="col-sm-2 col-form-label">Title</label>
					<div class="col-sm-10">
						{{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
					</div>
				</div>


				<div class="row mb-3">
					<label for="inputPassword" style="width: 80%;" class="col-sm-2 col-form-label">Description</label>
					<div class="col-sm-10">
						{{form_widget(form.description,{'attr':{'class':'form-control'}}) }}
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary">Modify Event</button>
					</div>
				</div>

				{{ form_end(form) }}
				<!-- End General Form Elements -->

			</div>
		</div>

	</div>
{% endblock %}
