{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}

<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

    <div class="col-lg-6">

         
            <div class="card-body">
                <a href=><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>
                <h5 class="card-title">Liste des postulations</h5>
               

                <!-- Table with stripped rows -->
                <table class="table table-striped">
                    <thead>
                    <tr>    
                    
                    
                    <th>Email </th>
                    <th>Adresse </th>
                    <th>Date </th>
                    <th>User </th>
                    <th>Role </th>
                    
                    </tr>
                    </thead>
                    <tbody>
                        {%for pos in p  %}
                        <tr>
                        
                        
                        <td >{{pos.email}}</td>
                        <td >{{pos.adresse}}</td>
                        <td >{{pos.getDatePos()|date('Y-m-d') }}</td>
                        <td>{{ pos.creator.nom ~ ' ' ~ pos.creator.prenom }}</td>
                        <td>{{ pos.creator.role}}
                        <td>
                            <a href= "{{path('postulation_update' ,{'idPos':pos.idPos})}}">Update </a>
                            </td>
                            <td>
                            <a href= "{{path('remove_pos' ,{'idPos':pos.idPos})}}">Remove </a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
                <!-- End small tables -->

            </div>
        

    </div>



</div>

{% endblock %}
