{% extends 'base.html.twig' %}
{% block body%}
<div style="display: flex;align-items: center; justify-content: center;margin-top:65px;padding:10px;">

          <div class="card">
            <div class="card-body">
            <a href="{{ path('display_offre') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>
              <h5 class="card-title">Ajouter Offre</h5>


              <!-- General Form Elements -->
              {{ form_start(f,{attr:{novalidate:'novalidate'}})}}
  <label for="inputText" class="col-sm-4 col-form-label">nom</label>
                        <div class="col-sm-10">
                            {{ form_widget(f.nom,{'attr':{'class':'form-control'}}) }}
							

                    </div>
                    {{ form_errors(f.nom,{'attr':{'class':'text-danger'}}) }}


                  <label for="inputText" class="col-sm-5 col-form-label">Description</label>
                        <div class="col-sm-10">
                            {{ form_widget(f.description,{'attr':{'class':'form-control'}}) }}
							

                    </div>
                    {{ form_errors(f.description,{'attr':{'class':'text-danger'}}) }}
                  
                   <label for="inputText" class="col-sm-5 col-form-label">Date</label>
                        <div class="col-sm-10">
                            {{ form_widget(f.date,{'attr':{'class':'form-control'}}) }}
							
                    </div>
                    {{ form_errors(f.date,{'attr':{'class':'text-danger'}}) }}

                  <label for="inputText" class="col-sm-4 col-form-label">Duree</label>
                        <div class="col-sm-10">
                            {{ form_widget(f.duree,{'attr':{'class':'form-control'}}) }}
							

                    </div>
                    {{ form_errors(f.duree,{'attr':{'class':'text-danger'}}) }}
                <br/>
                
                <div style="display: flex;align-items: center; justify-content: center;">
                    {{ form_widget(f.submit,{'attr':{'class':'btn btn-primary'}}) }}
                  </div>

                 {{ form_end(f) }}
                 <!-- End General Form Elements -->

            </div>
          </div>

        </div>
{% endblock %}