{% extends 'base.html.twig' %}


{% block header %}

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block footer %}

{% endblock %}


{# <img  src="{{ asset(''~ captcha.getLienImageCaptcha())}}">
{{ form(formCaptcha) }} #}



{% block body %}

    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                            
                                <span class="d-none d-lg-block">Recaptcha</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Check if you are not a robot !</h5>
                                        <img src="{{ asset(''~ captcha.getLienImageCaptcha())}}" alt="">
                                </div>


                                {{ form_start(formCaptcha,{attr:{novalidate:'novalidate'}}) }}
                                <div class="col-12">
                                        <label for="yourName" class="form-label">Enter Captcha Value</label>

                                        <div class="invalid-feedback">Value!</div>
                                    {{ form_widget(formCaptcha.Captcha,{'attr':{'class':'form-control'}}) }}

                                </div>

                                   
                                {{ form_end(formCaptcha) }}

                            </div>
                        </div>

                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>

{% endblock %}