{% extends 'base.html.twig' %}


{% block body %}


<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

    <div class="col-lg-6">

        <div class="card">
            <div class="card-body">
                <a href="{{ path('addProject') }}"><i class="bi bi-plus-circle-fill" style="font-size: 50px;"></i></a>
                <h5 class="card-title">Liste des Projects</h5>

                <!-- Table with stripped rows -->
                <table class="table table-striped">
                    <thead>
                   <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Societe </th>
                <th>Modifer </th>
        <th>Supprimer </th>
    </tr>
                    </thead>
                    <tbody>
                     {% for i in c %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.nom}}</td>
        <td>{{i.societe}}</td>
          <td><a class="btn btn-success" href="{{path('updateProject',{'id':i.id}) }}">Modifier</a></td>
          <td><a class="btn btn-danger" href="{{path('suppP',{'id':i.id}) }}">Supprimer</a></td>
    </tr>
    {% endfor %}


                    </tbody>
                </table>
                <!-- End small tables -->

            </div>
        </div>

    </div>



</div>
{% endblock %}





