{% extends 'base.html.twig' %}

{% block title %}Domaine index
{% endblock %}

{% block body %}
	<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

		<div class="col-lg-6">

			<div class="card">
				<div class="card-body">

					<h5 class="card-title">Liste des Domaines</h5>
					<a href="{{ path('app_domaine_new') }}">
						<button class="btn btn-primary">Create new</button>
					</a>
					{% if form is defined %}

						{{ form_start(form) }}

						<div class="form-row align-items-end">
							<div class="col">
								{{ form_row(form.nom) }}
							</div>

							<div class="col">
								<div class="form-group">
									<button type="submit" class="btn btn-success">Rechercher</button>
								</div>
							</div>
						</div>
						{{ form_end(form) }}
					{% endif %}

					<!-- Table with stripped rows -->
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nom</th>
								<th>actions</th>

							</tr>
						</thead>
						<tbody>
							{% for domaine in domaines %}
								<tr>
									<td>{{domaine.id}}</td>
									<td>{{domaine.nom}}</td>
									<td>
										<a class="btn btn-danger" href="{{path('app_domaine_delete',{'id':domaine.id}) }}">Supprimer</a>
										<a class="btn btn-success" href="{{path('app_domaine_edit',{'id':domaine.id}) }}">Edit</a>
									</td>
								</tr>
							{% endfor %}

						</tbody>
					</table>
					<!-- End small tables -->

				</div>
			</div>

		</div>


	</div>


{% endblock %}
